@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: white;
  font-family: "Poppins", sans-serif;
}

.underline-red { 
  border-bottom: 1px solid rgb(239 68 68);
  padding-bottom: 3px;
  display: inline;

}
.text-shadow {
  text-shadow: 1px 1px 0px black; 
}

.tiles-hover-transition {
  transition: opacity 0.3s ease-in-out;
}

.grid-tiles {
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
}


body::-webkit-scrollbar {
  background-color: #837e7e52;
  width: 0.62rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #292938;

}
